.body, .mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    background-color: pink;
    padding: 15px;
}

.mainContainer {     
    background-color: purple;
    
}


.playArea {
    width: 800px;
    height: 600px;
    
}

.mainContainer, .subHeaderTxt {      
    color:aliceblue ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainContainer button {     
    width: 150px;
    height: 75px;
    background-color: yellow;
    border-color: green;
    border: 2px;
    color: blue;
    font-size: 20px;    

}

